* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  background-color: lightpink;
  height: 75px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0 10px;
  width: 100%;
}




.florentino{
  font-size: 40px;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  text-decoration: none;

}

 .menu-icon {
  width: 30px;
  cursor: pointer;
  padding-right: 15px; /* reduce from 35px */
}


.menu-icon span {
  display: block;
  height: 3px;
  background: white;
  margin: 5px 5px;
}

.side-menu {

  position: fixed;

  top: 0;

  right: -200px; /* hidden */

  width: 200px;

  height: 100%;

  background: transparent;

  padding-top: 60px;

  transition: 0.3s;

}

/* Menu links */

.side-menu a {

  display: block;

  color: white;

  padding: 15px;

  text-decoration: none;

}

.side-menu a:hover {

  background: lightpink;

}

/* When active */

.side-menu.active {

  right: 0;
  background: black;

}

/* Smooth animation */
.menu-icon span {
  display: block;
  height: 5px;
  background:white ;
  margin: 8px -10px;
  border-radius: 2px;
  transition: 0.3s;
}

/* Animate to X */
.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}



html, body {
  overflow-x: hidden;
}

img {
  width: 100vw; /* force exact screen width */
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background-image: url("image.jpeg");
  height: 130vh;

 /* make sure name is correct */

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
  
}

.header, .side-menu, img {
  max-width: 100%;
}

.button{
  position: fixed;
  font-size: 30px;
  padding: 10px;
  border: solid;
  border-radius: 40px;
  border-color: white;
  margin-top: 1250px;
  margin-left: 70px;
  text-decoration: none;
  color: white;
  background-color: lightpink;
}

.intro{
  position: fixed;
  margin-top: 1050px;
  color: white;
}

.inro2{
  position: fixed;
  margin-top: 1150px;
  color: white;
}

img{
  position: fixed;
  margin-top: 300px;
}



  
 